@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.sidebar {
    background: #1a1a1a;
    color: #e0dad9;
    padding: 1rem 2rem;
    grid-column: span 2;
    overflow: auto;
}

.wrapper {
    grid-column: span 8;
    /*padding: 1rem 2rem;*/
    background: #2f2f2f;
}

.App {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*gap: 0.5rem;*/
    width: 100vw;
    height: 100vh;
}

.in-node {
    margin: 0.75rem 0;
    cursor: pointer;
    border-radius: 0.125rem;
    border: 0.125rem solid rgb(0,0,0);
    background: rgb(0, 255, 255);
    color: #1a1a1a;
    text-align: center;
    padding: 0.75rem 0;
    max-width: 150px;
}

.out-node {
    margin: 0.75rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 0.125rem solid rgb(0,0,0);
    background: rgb(0, 255, 50);
    color: #1a1a1a;
    text-align: center;
    padding: 0.75rem 0;
    max-width: 150px;
}

.double-node {
    margin: 0.75rem 0;
    cursor: pointer;
    border-radius: 0.125rem;
    border: 0.125rem solid rgb(0,0,0);
    background: rgb(255, 0, 255);
    color: #1a1a1a;
    text-align: center;
    padding: 0.75rem 0;
    max-width: 150px;
}

.content {
    height: 100%;
    width: 100%;
}

.button {
    margin: 0.25rem;
    display: inline-block;
    background: #36cbc5;
    color: #1a1a1a;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}