@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.sidebar {
    background: #4b4b4b;
    color: #e0dad9;
    padding: 1rem 2rem;
    grid-column: span 2;
}

.content {
    grid-column: span 8;
    padding: 1rem 2rem;
}

.App {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
}